In [2]:
import pandas as pd
# 读取候选人信息，添加表头
candidates = pd.read_csv("weball22.txt", sep = '|',names=['CAND_ID','CAND_NAME','CAND_ICI','PTY_CD','CAND_PTY_AFFILIATION','TTL_RECEIPTS',
                                                          'TRANS_FROM_AUTH','TTL_DISB','TRANS_TO_AUTH','COH_BOP','COH_COP','CAND_CONTRIB',
                                                          'CAND_LOANS','OTHER_LOANS','CAND_LOAN_REPAY','OTHER_LOAN_REPAY','DEBTS_OWED_BY',
                                                          'TTL_INDIV_CONTRIB','CAND_OFFICE_ST','CAND_OFFICE_DISTRICT','SPEC_ELECTION','PRIM_ELECTION','RUN_ELECTION'
                                                          ,'GEN_ELECTION','GEN_ELECTION_PRECENT','OTHER_POL_CMTE_CONTRIB','POL_PTY_CONTRIB',
                                                          'CVG_END_DT','INDIV_REFUNDS','CMTE_REFUNDS'])
candidates

,CAND_ID,CAND_NAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,COH_BOP,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
0,H2AK00200,"CONSTANT, CHRISTOPHER",C,1,DEM,164637.90,0.00,164037.51,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,1000.00,5000.0,09/30/2022,8300.00,0.0
1,H2AK01158,"PELTOLA, MARY",I,1,DEM,1912264.52,0.00,790400.96,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,12500.00,5000.0,09/05/2022,18823.50,0.0
2,H2AK01240,"WOOL, ADAM L",O,1,DEM,16217.07,0.00,16217.07,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,07/15/2022,0.00,0.0
3,H2AK00218,"REVAK, JOSHUA CARL",O,2,REP,121841.00,0.00,121841.00,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,5000.00,0.0,09/16/2022,14600.00,0.0
4,H2AK00226,"PALIN, SARAH",O,2,REP,1556120.28,112737.77,1361350.32,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,69905.00,0.0,09/30/2022,500.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,S0WY00152,"BEN DAVID, MERAV",O,1,DEM,0.00,0.00,14278.00,0.0,14278.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,04/13/2021,0.00,0.0
4096,S0WY00137,"LUMMIS, CYNTHIA MARIE MRS.",I,2,REP,367850.30,103174.96,352180.98,0.0,114450.23,...,NaN,NaN,NaN,NaN,NaN,92830.44,0.0,09/30/2022,1380.25,5000.0
4097,S4WY00147,"MILLER, BRYAN",O,2,REP,0.00,0.00,0.00,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,06/30/2022,0.00,0.0
4098,S6WY00126,"ENZI, MICHAEL B",I,2,REP,410.00,0.00,253421.57,0.0,253011.57,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,09/30/2021,0.00,0.0
4099,S6WY00068,"BARRASSO, JOHN A",I,2,REP,1483119.58,77123.32,1323311.92,0.0,4121889.51,...,NaN,NaN,NaN,NaN,NaN,461275.00,0.0,09/30/2022,200.00,2500.0

In [3]:
# 读取候选人和委员会的联系信息
ccl = pd.read_csv("ccl.txt", sep = '|',names=['CAND_ID','CAND_ELECTION_YR','FEC_ELECTION_YR','CMTE_ID','CMTE_TP','CMTE_DSGN','LINKAGE_ID'])
ccl.head(20)

,CAND_ID,CAND_ELECTION_YR,FEC_ELECTION_YR,CMTE_ID,CMTE_TP,CMTE_DSGN,LINKAGE_ID
0,C00713602,2019,2022,C00712851,O,U,237862
1,H0AK00105,2020,2022,C00607515,H,P,237924
2,H0AL01055,2022,2022,C00697789,H,P,235900
3,H0AL01063,2020,2022,C00701557,H,P,236972
4,H0AL01097,2020,2022,C00708867,H,P,237208
5,H0AL02087,2020,2022,C00462143,H,P,235107
6,H0AL02087,2020,2022,C00493783,H,J,235132
7,H0AL02137,2020,2022,C00714337,H,P,238395
8,H0AL02145,2020,2022,C00715698,H,P,238252
9,H0AL02152,2020,2022,C00718411,H,P,237361
10,H0AL02160,2020,2022,C00723478,H,P,237357
11,H0AL02202,2022,2022,C00728873,H,P,237422
12,H0AL03192,2020,2022,C00681452,H,P,237113
13,H0AL05049,2008,2022,C00239038,N,U,239182
14,H0AL05205,2020,2022,C00701375,H,P,235984
15,H0AL06104,2020,2022,C00681213,H,P,236692
16,H0AL06112,2020,2022,C00696765,H,P,235890
17,H0AL07086,2022,2022,C00458976,H,P,234980
18,H0AL07193,2020,2022,C00723601,H,P,238869
19,H0AR01083,2022,2022,C00462374,H,P,235108

In [4]:
# 关联两个表数据，将candidates表拼到ccl表上
ccl = pd.merge(ccl,candidates)
# 提取出所需要的列
ccl = pd.DataFrame(ccl, columns=[ 'CMTE_ID','CAND_ID', 'CAND_NAME','CAND_PTY_AFFILIATION'])
ccl

        CMTE_ID    CAND_ID                     CAND_NAME CAND_PTY_AFFILIATION
0     C00697789  H0AL01055           CARL, JERRY LEE, JR                  REP
1     C00701557  H0AL01063  LAMBERT, DOUGLAS WESTLEY III                  REP
2     C00708867  H0AL01097               AVERHART, JAMES                  DEM
3     C00462143  H0AL02087                  ROBY, MARTHA                  REP
4     C00493783  H0AL02087                  ROBY, MARTHA                  REP
...         ...        ...                           ...                  ...
4396  C00652131  S8WI00216              NICHOLSON, KEVIN                  REP
4397  C00655522  S8WI00224                  VUKMIR, LEAH                  REP
4398  C00708891  S8WV00119        SWEARENGIN, PAULA JEAN                  DEM
4399  C00640219  S8WV00119        SWEARENGIN, PAULA JEAN                  DEM
4400  C00548271  S8WV00127               JENKINS, EVAN H                  REP

[4401 rows x 4 columns]

In [5]:
# 读取个人捐赠数据，由于原始数据没有表头，需要添加表头
# 提示：读取本文件大概需要5-10s
individual_contribution = pd.read_csv('itcont_2022_20220629_20220817.txt', sep='|',names=['CMTE_ID','AMNDT_IND','RPT_TP','TRANSACTION_PGI',
                                                                                  'IMAGE_NUM','TRANSACTION_TP','ENTITY_TP','NAME','CITY',
                                                                                  'STATE','ZIP_CODE','EMPLOYER','OCCUPATION','TRANSACTION_DT',
                                                                                  'TRANSACTION_AMT','OTHER_ID','TRAN_ID','FILE_NUM','MEMO_CD',
                                                                                  'MEMO_TEXT','SUB_ID'])
individual_contribution

E:\Anaconda\envs\Jonas\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (10,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00556506,A,Q2,G2022,202208169525409046,15E,IND,"SORENSEN, SCOTT",MANHATTAN BEACH,CA,...,WILSHIRE CAPITAL PARTNERS,REAL ESTATE,6292022,500,C00401224,VVBWZT238Y6,1624420,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4081720221564985444
1,C00556506,A,Q2,G2022,202208169525408999,15E,IND,"GIBSON, PHIL",SUNNYVALE,CA,...,AESSENSEGROWS,MARKETING,6292022,100,C00401224,VVBWZT239T7,1624420,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4081720221564985303
2,C00556506,A,Q2,G2022,202208169525409014,15E,IND,"KIRAN, LINDA",LA JOLLA,CA,...,NOT-EMPLOYED,NOT-EMPLOYED,6292022,5,C00401224,VVBWZT239B9,1624420,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4081720221564985348
3,C00590489,A,Q2,P2022,202207159521961995,15E,IND,"KING, SONDRA",GLASTONBURY,CT,...,NOT EMPLOYED,NOT EMPLOYED,6292022,25,C00401224,5846171,1615540,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4072020221542599676
4,C00590489,A,Q2,P2022,202207159521964905,15E,IND,"SMALL, CAROLE",MIDDLETOWN,DE,...,NOT EMPLOYED,NOT EMPLOYED,6292022,25,C00401224,5845122,1615540,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4072020221542608407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992572,C00002881,N,M9,P,202209209528587187,15,IND,"COLSON, MARK MR.",MONTGOMERY,AL,...,"ALABAMA TRUCKING ASSOCIATION, INC.",PRESIDENT & CEO,8172022,1000,NaN,AE4A431F610234427ABF,1630873,NaN,NaN,4092020221576177059
1992573,C00003590,N,M9,P,202209209528599129,15,IND,"BESHEARS, PHILLIP",GRANITE CITY,IL,...,AMSTED RAIL CO.,LABORER,8172022,20,NaN,A448F9E3005B04184B8A,1631076,NaN,NaN,4092020221576193255
1992574,C00003590,N,M9,P,202209209528599130,15,IND,"SWISHER, NATHAN W",ROXANA,IL,...,AMSTED RAIL CO.,LABORER,8172022,30,NaN,A23BC401BDF9749CE8A1,1631076,NaN,NaN,4092020221576193256
1992575,C00006080,N,M9,P,202209209528584190,15,IND,"MARSHALL, ANTHONY",MCDONOUGH,GA,...,GEORGIA HEALTH CARE ASSOCIATION,PRESIDENT & CEO,8172022,100,NaN,16831137,1630840,NaN,NaN,4092020221576175974
1992576,C00006080,N,M9,P,202209209528584191,15,IND,"CHIES, STEVEN",COON RAPIDS,MN,...,"NORTH CITIES HEALTH CARE, INC.",CEO,8172022,250,NaN,16831144,1630840,NaN,NaN,4092020221576175977

In [5]:
# 将候选人与委员会关系表ccl和个人捐赠数据表itcont合并，通过 CMTE_ID
# ccl表：候选人ID&姓名，委员会ID
# indi_con表：委员会ID，捐款信息
cand_cmte_indi =  pd.merge(ccl,individual_contribution)
# 提取需要的数据列
cand_cmte_indi = pd.DataFrame(cand_cmte_indi, columns=[ 'CAND_NAME','NAME', 'STATE','EMPLOYER','OCCUPATION',
                                           'TRANSACTION_AMT', 'TRANSACTION_DT','CAND_PTY_AFFILIATION'])

In [ ]:
cand_cmte_indi = pd.DataFrame(cand_cmte_indi, columns=[  'CAND_NAME',
                                                         'NAME', 
                                                         'STATE',
                                                         'EMPLOYER',
                                                         'OCCUPATION',
                                                         'TRANSACTION_AMT', 
                                                         'TRANSACTION_DT',
                                                         'CAND_PTY_AFFILIATION'])

In [7]:
# 查看目前数据前10行
cand_cmte_indi.head(20)

,CAND_NAME,NAME,STATE,EMPLOYER,OCCUPATION,TRANSACTION_AMT,TRANSACTION_DT,CAND_PTY_AFFILIATION
0,"CARL, JERRY LEE, JR","DUNN, TIM",TX,CROWN QUEST OPERATING,CFO,2900,6302022,REP
1,"CARL, JERRY LEE, JR","HOWELLS, DIANNE M.",TX,MILTOPE,PRESIDENT,500,6302022,REP
2,"CARL, JERRY LEE, JR","MCBRIDE, TIMOTHY J.",DC,ST ENGINEERING,PRESIDENT,500,6302022,REP
3,"CARL, JERRY LEE, JR",AGUA CALIENTE BAND OF CAHUILLA INDIANS,CA,NaN,NaN,2900,6302022,REP
4,"CARL, JERRY LEE, JR",PECHANGA BAND OF INDIANS,CA,NaN,NaN,2900,6302022,REP
5,"CARL, JERRY LEE, JR",POARCH BAND OF CREEK INDIANS,AL,NaN,NaN,2900,6302022,REP
6,"HARVEY-HALL, PHYLLIS","BISSOO, MIRANDA",AL,NaN,NaN,500,6302022,DEM
7,"SEWELL, TERRI A.","ELAM, GARY",AL,NOT EMPLOYED,NOT EMPLOYED,100,6292022,DEM
8,"SEWELL, TERRI A.","BLOOM, STAR",AL,NOT EMPLOYED,NOT EMPLOYED,250,6292022,DEM
9,"SEWELL, TERRI A.","MCCOY, MOYER",DC,PMI GLOBAL SERVICES,MANAGER EXTERNAL AFFAIRS,350,6292022,DEM
10,"SEWELL, TERRI A.","SULLIVAN, CONNIE",CO,NHIA,PHARMACIST,500,6292022,DEM
11,"SEWELL, TERRI A.","WOODS, KATHRYN",CA,GENETECH,PRINCIPAL PROGRAMMER ANALYST,625,6302022,DEM
12,"SEWELL, TERRI A.","TAYLOR, JUDITH",AL,PRAHS,CRA,25,6302022,DEM
13,"SEWELL, TERRI A.","BRATHWAITE, PAUL",DC,FEDERAL STREET STRATEGIES,CHIEF STRATEGIST,1000,6302022,DEM
14,"SEWELL, TERRI A.","SKIPPER, THOMAS",AL,SCOTCH PLYWOOD COMPANY,VICE PRESIDENT,625,6302022,DEM
15,"SEWELL, TERRI A.","STIMPSON, FRED",AL,SCOTCH GULF LUMBER,CEO,1000,6302022,DEM
16,"SEWELL, TERRI A.","OMELIA, THOMAS H",AL,SCOTCH PLYWOOD COMPANY,OWNER,625,6302022,DEM
17,"SEWELL, TERRI A.","KOUNTOUPES, LISA",VA,KOUNTOUPES DENHAM,LOBBYIST/CONSULTANT,500,6302022,DEM
18,"SEWELL, TERRI A.","MCSHAN, HUNTER",MS,NaN,NaN,1000,6302022,DEM
19,"SEWELL, TERRI A.","HARRIGAN, WILLIAM D.",AL,HARRIGAN LUMBER COMPANY,OWNER/EXECUTIVE,625,6302022,DEM